<!DOCTYPE html>
<html lang="kr">
<head th:replace="~{layout/fragment-common::my-header('MAT.ZIP ADMIN | 레스토랑 상세 페이지')}"></head>
<link href="/css/admin/admin-common.css" rel="stylesheet">
<link href="/css/admin/admin-holiday.css" rel="stylesheet">
<body>
<nav th:replace="~{layout/fragment-admin::mz-top-nav}"></nav>

<div class="mz-admin-container">
    <nav th:replace="~{layout/fragment-admin::mz-nav}"></nav>
    <main>
        <div class="mz-inner-container">
            <div class="mz-main-comp"
                 style="border: #B3B8BC 1px solid; padding: 20px;border-radius: 30px; background-color: whitesmoke">
                <div class="d-flex justify-content-between">
                    <h3>가게 정보</h3>
                    <input id="restaurant-id" type="hidden" th:value="${restaurant.id}"/>
                    <div>
                        <a class="btn btn-sm" th:href="'./' + ${restaurant.id} + '/info'">
                            수정하기
                        </a>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-1">카테고리</label>
                    <div class="fs-5" type="text" th:text="${restaurant.category.name}"></div>

                </div>
                <div class="mb-3">
                    <label class="mb-1">가게명</label>
                    <div class="fs-5" type="text" th:text="${restaurant.name}"></div>
                </div>
                <div class="mb-3">
                    <label class="mb-1">주소</label>
                    <div class="fs-5" type="text" th:text="${restaurant.address}"></div>
                </div>
                <div class="mb-3">
                    <label class="mb-1">상세주소</label>
                    <div th:if="${!#strings.isEmpty(restaurant.detailAddress)}" class="fs-5" type="text"
                         th:text="${restaurant.detailAddress}"></div>
                    <div th:if="${#strings.isEmpty(restaurant.detailAddress)}" class="fs-5 text-secondary"
                         type="text">상세주소가 없습니다.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-1">전화번호</label>
                    <div th:if="${!#strings.isEmpty(restaurant.contact)}" class="fs-5" type="text"
                         th:text="${restaurant.contact}"></div>
                    <div th:if="${#strings.isEmpty(restaurant.contact)}" class="fs-5 text-secondary" type="text"
                    >등록된 전화번호가 없습니다.
                    </div>
                </div>
                <div class="container card mt-4"
                     style="border: 1px #a1a6a7 solid; background-color: #F2F5F5">
                    <h5 class="card-header">위치 확인하기</h5>
                    <div class="card-body">
                        <div id="map" style="width: 100%; height:200px;"></div>
                        <input type="hidden" id="lon" th:value="${restaurant.lon}"/>
                        <input type="hidden" id="lat" th:value="${restaurant.lat}"/>
                    </div>
                </div>
            </div>
            <div class="mz-main-comp p-4">
                <div id="menu-header" class="d-flex justify-content-between">
                    <h5>메뉴 확인하기</h5>
                    <button class="btn btn-sm btn-outline-success" id="add-menu-btn">메뉴 추가</button>
                    <!--                    th:href="${'./' + restaurantId+ '/menu'}" -->
                </div>
                <div>
                    <th:block th:if="${! #lists.isEmpty(restaurant.menus)}">
                        <div class="container card mt-4 border-0"
                             style="border-radius: 24px; box-shadow: 0px 0px 10px 0px rgb(230, 230, 230);">
                            <div id="item-none-found" class="card-body py-5 d-none">
                                <div class="row fw-semibold text-center"
                                     style="font-size: 20px;">
                                    <div class="col my-5">
                                        <p style="font-size: 50px">🍴</p>
                                        <div>
                                            등록된 메뉴가 없습니다.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul id="menuList" class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                th:each="menu : ${restaurant.menus}" th:object="${menu}">
                                <div>
                                    <span th:attr="id=*{'name-' + id}" th:text="*{name}"></span>
                                    <button class="btn btn-sm btn-update-menu-name">이름 변경</button>
                                    <div class="input-group d-none" id="update-menu-name-comp" th:attr="data-id=*{id}">
                                        <input id="nameToUpdate" class="form-control form-control-sm" type="text"
                                               placeholder="변경할 이름을 입력해주세요."/>
                                        <button id="updateNameBtn" class="btn btn-sm btn-outline-primary">확인</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="text-end">
                                    <span th:attr="id=*{'price-' + id}" class="badge bg-primary rounded-pill"
                                          th:text="*{price}"></span>
                                        <button class="btn btn-sm btn-update-menu-price">가격 변경</button>
                                        <div class="input-group d-none" id="update-menu-price-comp"
                                             th:attr="data-id=*{id}">
                                            <input id="priceToUpdate" class="form-control form-control-sm" type="text"
                                                   placeholder="변경할 가격 입력"/>
                                            <button id="updatePriceBtn" class="btn btn-sm btn-outline-primary">확인
                                            </button>
                                        </div>
                                    </div>
                                    <button th:attr="data-id=*{id}" class="btn btn-sm btn-del btn">X</button>
                                </div>
                            </li>
                        </ul>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(restaurant.menus)}">
                        <div class="container card mt-4 border-0"
                             style="border-radius: 24px; box-shadow: 0px 0px 10px 0px rgb(230, 230, 230);">
                            <div id="item-none-found" class="card-body py-5">
                                <div class="row fw-semibold text-center"
                                     style="font-size: 20px;">
                                    <div class="col my-5">
                                        <p style="font-size: 50px">🍴</p>
                                        <div>
                                            등록된 메뉴가 없습니다.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul id="menuList" th:if="${#lists.isEmpty(restaurant.menus)}" class="list-group">
                        </ul>
                    </th:block>
                    <div id="create-menu-input-group"
                         class="container card mt-4 border-0 d-none"
                         style="border-radius: 24px; box-shadow: 0px 0px 10px 0px rgb(230, 230, 230);">
                        <div id="item-none-found" class="card-body">
                            <h5>메뉴 추가하기</h5>
                            <div class="input-group py-2">
                                <input id="menu-name-to-create" class="form-control form-control-sm" type="text"
                                       placeholder="추가할 이름 입력"/>
                                <input id="menu-price-to-create" class="form-control form-control-sm" type="text"
                                       placeholder="추가할 가격 입력"/>
                                <button id="create-menu-btn" class="btn btn-sm btn-outline-primary">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="business-time-container" class="mt-4">
                    <div class="d-flex justify-content-between">
                        <h5>영업 시간</h5>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target='#modifyBHourModal'>
                            편집
                        </button>
                    </div>
                    <div class="d-flex justify-content-between my-2" th:if="${! businessHours.isEmpty()}"
                         th:each="day : ${dayList}">
                        <span th:if="${businessHours.get(day.name()) != null}">
                            <span th:if="${businessHours.get(day.name()).isHoliday}" class="text-danger">
                                [[${day.kor}]] : ⚠휴무일
                            </span>
                            <span th:if="${!businessHours.get(day.name()).isHoliday}" class="text-dark">
                                [[${day.kor}]] : [[${businessHours.get(day.name()).openTime}]] ~ [[${businessHours.get(day.name()).closeTime}]]
                            </span>
                        </span>
                        <span th:if="${businessHours.get(day.name()) == null}" class="text-secondary">
                            <span class="text-secondary">
                            [[${day.kor}]] : 등록된 일정이 없습니다.
                            </span>
                        </span>
                    </div>

                    <div class="container card mt-4 border-0"
                         style="border-radius: 24px; box-shadow: 0px 0px 10px 0px rgb(230, 230, 230);"
                         th:if="${businessHours.isEmpty()}">
                        <div class="card-body pt-5">
                            <div class="row fw-semibold text-center"
                                 style="font-size: 20px;">
                                <div class="col my-5">
                                    <p style="font-size: 50px">📅</p>
                                    <div>
                                        영업시간이 등록되지 않았습니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="m-4">
            <table class="table">
                <tbody id="review-list">
                </tbody>
            </table>
            <div style="display: flex; justify-content:center">
                <nav id="pagination" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    </ul>
                </nav>
            </div>
        </div>
    </main>

    <div class="modal fade" id="modifyBHourModal" tabindex="-1" aria-labelledby="modifyBHourModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h1 class="modal-title fs-5" id="modifyBHourModalLabel">영업 시간 수정하기</h1>
                        <div class="font-secondary">*해당 페이지에서 작성한 대로 DB에 저장됩니다.</div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div th:each="day : ${dayList}">
                        <div th:replace="~{layout/fragment-admin::businessTimeInputToUpdate(${day})}"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" id="save-change" class="btn btn-primary">변경 저장</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/admin/restaurant/update-menu-price.js"></script>
<script src="/js/admin/restaurant/update-bussiness-hour.js"></script>
<script th:replace="~{layout/fragment-common::bootstrap_js}"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=47ecd0d60ae3d050d86b7465e19f19b5&libraries=services"></script>
<script type="text/javascript" src="/js/admin/util.js"></script>
<script type="text/javascript" src="/js/admin/restaurant/get-review-by-restaurant.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log(document.getElementById("lat").value)
        const center = new kakao.maps.LatLng(document.getElementById("lat").value, document.getElementById("lon").value);
        const marker = new kakao.maps.Marker();
        const mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: center, // 지도의 중심좌표
                level: 3,// 지도의 확대 레벨
                marker: marker
            };

        const map = new kakao.maps.StaticMap(mapContainer, mapOption); // 지도를 생성합니다

    })
</script>


</body>
</html>