<!DOCTYPE html>
<html lang="kr">
<script src="/js/admin/restaurant/searchLocation.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=47ecd0d60ae3d050d86b7465e19f19b5&libraries=services"></script>
<head th:replace="~{/layout/fragment-common.html::my-header('MAT.ZIP ADMIN | 맛집')}"></head>
<link href="/css/admin/admin-common.css" rel="stylesheet">
<link href="/css/admin/admin-holiday.css" rel="stylesheet">
<body>
<nav th:replace="~{/layout/fragment-admin::mz-top-nav}"></nav>

<div class="mz-admin-container">
    <nav th:replace="~{/layout/fragment-admin::mz-nav}"></nav>
    <main>
        <div class="mz-inner-container">
            <div class="mz-main-comp"
                 style="border: #B3B8BC 1px solid; padding: 20px;border-radius: 30px; background-color: whitesmoke">
                <h3>가게 정보</h3>
                <div class="mb-3">
                    <label class="mb-1" for="nameInput">가게명</label>
                    <div class="fs-5" type="text" id="nameInput" th:text="${restaurant.name}"></div>
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="addrInput">주소</label>
                    <div class="fs-5" type="text" id="addrInput" th:text="${restaurant.address}"></div>
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="detailAddrInput">상세주소</label>
                    <div th:if="${!#strings.isEmpty(restaurant.detailAddress)}" class="fs-5" type="text"
                         id="detailAddrInput" th:text="${restaurant.detailAddress}"></div>
                    <div th:if="${#strings.isEmpty(restaurant.detailAddress)}" class="fs-5 text-secondary"
                         type="text" id="detailAddrInput">상세주소가 없습니다.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="contactInput">전화번호</label>
                    <div th:if="${!#strings.isEmpty(restaurant.contact)}" class="fs-5" type="text" id="contactInput"
                         th:text="${restaurant.contact}"></div>
                    <div th:if="${#strings.isEmpty(restaurant.contact)}" class="fs-5 text-secondary" type="text"
                         id="contactInput">등록된 전화번호가 없습니다.
                    </div>
                </div>
                <div class="my-2"
                     style="border: 1px #646566 solid; padding : 10px; background-color: #F2F5F5">
                    <h5>위치 확인하기</h5>
                    <div id="map" style="width: 500px; height: 200px; margin: 7px"></div>
                    <input type="hidden" id="lon" th:value="${restaurant.lon}"/>
                    <input type="hidden" id="lat" th:value="${restaurant.lat}"/>
                </div>
                <hr class="border border-secondary border-2 opacity-50">
                <div id="business-time-container">
                    <h5>영업 시간</h5>
                    <div th:each="day : ${days}">
                        <span th:if="${businessHours[day] != null}" th:text="${businessHours[day].openTime}"></span>
                        <span th:if="${businessHours[day] == null}">등록된 시간이 없습니다.</span>
                    </div>
                </div>
            </div>
            <div class="mz-main-comp p-4">
                <div id="menu-header" class="d-flex justify-content-between">
                    <h5>메뉴 확인하기</h5>
                    <a th:href="${'./' + restaurantId+ '/menu'}">수정하기</a>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            th:each="menu : ${restaurant.menus}" th:object="${menu}">
                            <span th:text="*{name}"></span>
                            <span class="badge bg-primary rounded-pill" th:text="*{price}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
<script th:replace="~{/layout/fragment-common::bootstrap_js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    console.log(document.getElementById("lat").value)
    const center = new kakao.maps.LatLng(document.getElementById("lon").value, document.getElementById("lat").value);
    const marker = new kakao.maps.Marker();
    const mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: center, // 지도의 중심좌표
            level: 3,// 지도의 확대 레벨
            marker: marker
        };

    const map = new kakao.maps.StaticMap(mapContainer, mapOption); // 지도를 생성합니다
</script>
</body>
</html>