<!DOCTYPE html>
<html lang="kr">
<head th:replace="~{/layout/fragment-common.html::my-header('MAT.ZIP ADMIN')}"></head>
<link href="/css/admin/admin-common.css" rel="stylesheet">
<body>
<nav th:replace="~{/layout/fragment-admin::mz-top-nav}"></nav>
<div class="mz-admin-container">
    <nav th:replace="~{/layout/fragment-admin::mz-nav}"></nav>
    <main class="m-2">
        <h5 class="my-3" style="padding-left: 10px">
            💪🏼<span th:text="${#authentication.name}"></span>님 오늘도 득근💪🏼<br/>
            <span th:text="${#authentication.name}"></span>님 오늘도 월루🥸</h5>
        <div class="row-grid">
            <div>
                <h3 class="text-center">레스토랑 리뷰</h3>
                <div class="column-grid-double">
                    <a th:href="@{/admin/matzip/restaurant}" class="btn column-grid-item column-grid-double-item">레스토랑
                        등록</a>
                    <a th:href="@{/admin/matzip/restaurant/all}" class="btn column-grid-item column-grid-double-item">레스토랑
                        검색</a>
                    <a th:href="@{/admin/matzip/category}" class="btn column-grid-item column-grid-double-item">카테고리
                        관리</a>
                    <a th:href="@{/admin/matzip/hashtag/control}" class="btn column-grid-item column-grid-double-item">해시태그
                        관리</a>
                    <a th:href="@{/admin/matzip/request}" class="btn column-grid-item column-grid-double-item">요청 관리</a>
                </div>
            </div>
            <div>
                <h3 class="text-center">유저 관리</h3>
                <div class="column-grid-double">
                    <a class="btn column-grid-item column-grid-double-item" th:href="@{/admin/member}">멤버 관리</a>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>