<!DOCTYPE html>
<html lang="kr">
<head th:replace="~{/layout/fragment-common::my-header('MAT.ZIP ADMIN | 레스토랑 리스트')}"></head>
<link href="/css/admin/admin-common.css" rel="stylesheet">
<style>
    #restaurant-list {
        width: 90%;
        margin: 5px 40px 40px;
    }
</style>
<body>
<nav th:replace="~{/layout/fragment-admin::mz-top-nav}"></nav>
<div class="mz-admin-container">
    <nav th:replace="~{/layout/fragment-admin::mz-nav}"></nav>
    <main>
        <div class="mz-inner-container">
            <h3 class="page-main-desc">레스토랑 리스트</h3>
        </div>

        <div id="restaurant-list" class="m-5">
            <div class="d-flex mb-3" style="justify-content: space-between">
                <div class="d-flex mb-3" style="justify-content: space-between">
                    <div >
                        <label for="category-option">카테고리</label>
                        <select id="category-option">
                            <option value="" selected>전체</option>
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="mx-3">
                        <label for="status-option">운영상태</label>
                        <select id="status-option">
                            <option value="" selected>전체</option>
                            <option value="wait">영업중</option>
                            <option value="wait">대기</option>
                            <option value="wait">폐업</option>
                        </select>
                    </div>
                </div>
                <div class="input-group" style="width: 300px">
                    <select id="search-option" class="form-control">
                        <option value="" selected>전체</option>
                        <option value="name">가게명</option>
                        <option value="address">위치</option>
                    </select>
                    <input type="text" class="form-control" style="display: inline-block"/>
                </div>
                <div>
                    <input class="ml-3" type="radio" name="order" value="createdTime" checked="checked"/>등록순
                    <input class="ml-3" type="radio" name="order" value="name"/>이름순
                    <input class="ml-3" type="radio" name="order" value="reviewCntDesc">리뷰많은순
                    <input class="ml-3" type="radio" name="order" value="reviewCntAsc">리뷰적은순
                    <input class="ml-3" type="radio" name="order" value="likeCntDesc">찜많은순
                </div>
            </div>
            <table class="table table-stripe" style="table-layout: fixed">
                <thead>
                <tr>
                    <th scope="col" style="width:4%">번호</th>
                    <th scope="col" style="width:7%">카테고리</th>
                    <th scope="col" style="width:10%">가게명</th>
                    <th scope="col" style="width:30%">위치</th>
                    <th scope="col" style="width:10%">전화번호</th>
                    <th scope="col" style="width:10%">가게 상태</th>
                    <th scope="col" style="width:7%">업데이트</th>
                    <th scope="col" style="width:7%">삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="matzip : ${restaurants}" th:attr="data-id=${matzip.id}">
                    <th scope="row" th:text="${matzip.id}"></th>
                    <td th:text="${matzip.category.name}"></td>
                    <td><a th:href="${'./' + matzip.id}" th:text="${matzip.name}"></a></td>
                    <td th:text="${matzip.address + matzip.detailAddress}"></td>
                    <!--                    <td th:text="${matzip.contact}">010-0000-0000</td>-->
                    <td>010-0000-0000</td>
                    <td th:if="${matzip.status eq CLOSURE}">폐업</td>
                    <td th:if="${matzip.status eq OPEN}">영업중</td>
                    <td th:if="${matzip.status eq WAIT}">등록 대기</td>
                    <td>
                        <button>수정</button>
                    </td>
                    <td>
                        <button th:if="${!(matzip.status eq CLOSURE)}" class="close-restaurant">폐업전환</button>
                        <button th:if="${matzip.status eq CLOSURE}" class="close-restaurant" disabled>폐업전환</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>


</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const closeBtns = document.querySelectorAll("button.close-restaurant");

    closeBtns.forEach(el => {
        const restaurantId = el.parentElement.parentElement.getAttribute("data-id");
        el.addEventListener("click", () => setStatusRestaurantById(restaurantId));
    })

    async function setStatusRestaurantById(id) {
        const continueSet = confirm("폐업 상태로 전환하시겠습니까?");
        if (continueSet) {
            const resp = await axios.put(`./${id}/closure`);
            console.log(resp)
        }
    }
</script>
<script th:replace="~{/layout/fragment-common::bootstrap_js}"></script>

</body>
</html>