<div>
  <link href="./group57.css" rel="stylesheet" />
  <div class="group57-container">
    <div class="group57-group57">
      <span class="group57-text"><span>음식점 키워드</span></span>
      <span class="group57-text002"><span>방문 후기</span></span>
      <span class="group57-text004"><span>리뷰 작성</span></span>
      <img src="/line61762-k9jl.svg" alt="Line61762" class="group57-line6" />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/95b60858-65b2-41e3-9e93-a05c053e4f6b/1c23d298-139f-4689-baa3-b7f91400feb3?org_if_sml=13365&amp;force_format=original"
        alt="Rectangle4761765"
        class="group57-rectangle476"
      />
      <div class="group57-group48">
        <span class="group57-text006"><span>평점</span></span>
        <div class="group57-group47">
          <span class="group57-text008">맛</span>
          <span class="group57-text009"><span>서비스</span></span>
          <span class="group57-text011"><span>가격</span></span>
          <img
            src="/rectangle5631761-lgpr.svg"
            alt="Rectangle5631761"
            class="group57-rectangle563"
          />

      </div>
      <div class="group57-group49">
        <span class="group57-text013"><span>방문목적</span></span>
        <div class="group57-frame26">
          <div class="group57-frame13">
            <span class="group57-text015"><span>데이트</span></span>
          </div>
          <div class="group57-frame14">
            <span class="group57-text017"><span>기념일</span></span>
          </div>
          <div class="group57-frame15">
            <span class="group57-text019"><span>식사 모임</span></span>
          </div>
          <div class="group57-frame20">
            <span class="group57-text021"><span>다이어트</span></span>
          </div>
          <div class="group57-frame21">
            <span class="group57-text023"><span>술 모임</span></span>
          </div>
          <div class="group57-frame22">
            <span class="group57-text025"><span>혼술</span></span>
          </div>
        </div>
        <div class="group57-frame131">
          <span class="group57-text027"><span>아침식사</span></span>
        </div>
        <div class="group57-frame27">
          <span class="group57-text029"><span>회식</span></span>
        </div>
        <div class="group57-frame141">
          <span class="group57-text031"><span>점심식사</span></span>
        </div>
        <div class="group57-frame151">
          <span class="group57-text033"><span>아이동반</span></span>
        </div>
        <div class="group57-frame201">
          <span class="group57-text035"><span>다이어트</span></span>
        </div>
        <div class="group57-frame211">
          <span class="group57-text037"><span>혼카페</span></span>
        </div>
        <div class="group57-frame221">
          <span class="group57-text039"><span>접대</span></span>
        </div>
      </div>
      <div class="group57-group50">
        <span class="group57-text041"><span>분위기</span></span>
        <div class="group57-frame28">
          <div class="group57-frame132">
            <span class="group57-text043"><span>가성비좋은</span></span>
          </div>
          <div class="group57-frame142">
            <span class="group57-text045"><span>격식있는</span></span>
          </div>
          <div class="group57-frame152">
            <span class="group57-text047"><span>고급스러운</span></span>
          </div>
          <div class="group57-frame202">
            <span class="group57-text049"><span>이국적</span></span>
          </div>
          <div class="group57-frame212">
            <span class="group57-text051"><span>이색적</span></span>
          </div>
          <div class="group57-frame222">
            <span class="group57-text053"><span>푸짐한</span></span>
          </div>
        </div>
        <div class="group57-frame29">
          <span class="group57-text055"><span>자연경관</span></span>
        </div>
        <div class="group57-frame30">
          <span class="group57-text057"><span>깔끔한</span></span>
        </div>
        <div class="group57-frame31">
          <span class="group57-text059"><span>야경이좋은</span></span>
        </div>
        <div class="group57-frame32">
          <span class="group57-text061"><span>조용한</span></span>
        </div>
      </div>
      <div class="group57-group51">
        <span class="group57-text063"><span>편의시설</span></span>
        <div class="group57-frame36">
          <div class="group57-frame133">
            <span class="group57-text065"><span>무료주차</span></span>
          </div>
          <div class="group57-frame143">
            <span class="group57-text067"><span>발렛</span></span>
          </div>
          <div class="group57-frame153">
            <span class="group57-text069"><span>주차불가</span></span>
          </div>
          <div class="group57-frame203">
            <span class="group57-text071"><span>개별룸</span></span>
          </div>
          <div class="group57-frame213">
            <span class="group57-text073"><span>대형룸</span></span>
          </div>
          <div class="group57-frame223">
            <span class="group57-text075"><span>24시간영업</span></span>
          </div>
        </div>
        <div class="group57-frame37">
          <span class="group57-text077"><span>놀이방</span></span>
        </div>
        <div class="group57-frame38">
          <span class="group57-text079"><span>야외좌석(테라스)</span></span>
        </div>
        <div class="group57-frame39">
          <span class="group57-text081"><span>반려동물동반</span></span>
        </div>
        <div class="group57-frame40">
          <span class="group57-text083"><span>콜키지무료</span></span>
        </div>
      </div>
      <div class="group57-group53">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/95b60858-65b2-41e3-9e93-a05c053e4f6b/8e537589-c20e-4c07-b6c2-89954f80effa?org_if_sml=11047&amp;force_format=original"
          alt="Rectangle4791865"
          class="group57-rectangle479"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/95b60858-65b2-41e3-9e93-a05c053e4f6b/761adb6c-02f4-4bbf-ad5f-2065d54dcdcb?org_if_sml=139283&amp;force_format=original"
          alt="Rectangle4781864"
          class="group57-rectangle478"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/95b60858-65b2-41e3-9e93-a05c053e4f6b/21f76282-4827-4f6c-a348-10f7d2b20aa5?org_if_sml=11662&amp;force_format=original"
          alt="Rectangle4771839"
          class="group57-rectangle477"
        />
        <span class="group57-text085">
          <span>방문한 식당의 솔직한 후기를 입력해 주세요!</span>
        </span>
      </div>
      <div class="group57-group54">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/95b60858-65b2-41e3-9e93-a05c053e4f6b/7e2eb4a1-a31f-496c-a14f-ab316ea6a80f?org_if_sml=1729&amp;force_format=original"
          alt="Rectangle4761831"
          class="group57-rectangle4761"
        />
        <span class="group57-text087">
          <span>키워드를 직접 추가해보세요!</span>
        </span>
        <div class="group57-group6">
          <span class="group57-text089"><span>추가</span></span>
        </div>
      </div>
      <div class="group57-group55">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/95b60858-65b2-41e3-9e93-a05c053e4f6b/ee8df305-8858-4ee1-a9e9-8f266e72036b?org_if_sml=1729&amp;force_format=original"
          alt="Rectangle4761881"
          class="group57-rectangle4762"
        />
        <span class="group57-text091">
          <span>키워드를 직접 추가해보세요!</span>
        </span>
        <div class="group57-group61">
          <span class="group57-text093"><span>추가</span></span>
        </div>
      </div>
      <div class="group57-group56">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/95b60858-65b2-41e3-9e93-a05c053e4f6b/3f22c698-2dca-4850-9242-d91e88a09b20?org_if_sml=1729&amp;force_format=original"
          alt="Rectangle4761882"
          class="group57-rectangle4763"
        />
        <span class="group57-text095">
          <span>키워드를 직접 추가해보세요!</span>
        </span>
        <div class="group57-group62">
          <span class="group57-text097"><span>추가</span></span>
        </div>
      </div>
      <span class="group57-text099">+</span>
      <div class="group57-group63">
        <span class="group57-text100"><span>리뷰 저장</span></span>
      </div>
      <img src="/line21881-ncm.svg" alt="Line21881" class="group57-line2" />
      <img src="/line71881-qkll.svg" alt="Line71881" class="group57-line7" />
      <img src="/line81883-f6x.svg" alt="Line81883" class="group57-line8" />
    </div>
  </div>
</div>
