	<div th:fragment="footer" class="footer-container"><!--정보 넣을 영역/ 지도 넣을 영역 -->
		<div class="footer-logo">
			<img class="footer-logoImg"src="/img/matzip_logo.png">
		</div>
		<div class="footer-info">
			<div class="footer-infoDiv">
					<p>상호 : MAT.ZIP | 대표자명 : 임유정 </p>
					<p>사업자 등록 번호 : 309-07-40311</p>
					<p>연락처: 02-6255-8002 | 팩스 : 02-569-8069 |  이메일 : Jake.oh.lecture@gmail.com</p>
					<p>주소 : 서울특별시 강남구 테헤란로 124 4층(역삼동, 삼원타워)</p>
					<hr>	
					<div class="col-md-6 d-flex align-items-center">
				      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
				    </div>
			</div>
		</div>
		<div class="footer-mapDiv">
			<div class="mapDiv2">
				<div class="ftItem1">
					<span class="footer-map-1">
						<img src="/img/map.png" style="height: 28px; width: 28px; margin-right: 5px; margin-bottom: 5px;">
						찾아오시는 길
					</span>
				</div>
				<div class="ftItem2">
					<div class="footer-map" id="footer-map">
					</div>
				</div>
			</div>
		</div>
	</div>
