@charset "UTF-8";

a {
	text-decoration: none;
	color: black;
}

.mymain {
	background-color: white;
	padding: 0px;
	height: 100vh;
}

.barandmeta,
.restaurant-list,
.review-list {
	padding: 20px 40px;
}

.sidemargin_lr {
	padding : 0 40px
}

.review-list  {
	background-color: white;
}

.mymain-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.mymain-bar span {
	font-size: 18px;
	font-weight: 600;
}

.mypage-profile {
	display: flex;
	margin: 18px 0px 20px 0px;
}

.profile-pic {
	align-self: center;
	margin-right: 20px;
}

.profile-pic img {
	box-sizing: inherit;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
	border: 1px solid lightgray;
}

.mypage-profile-meta h5 {
	padding-top: 10px;
	font-weight: 600;
}

.mypage-profile-meta div,
.mypage-profile-meta div dl {
	display: flex;
}

.mypage-profile-meta div dl,
.mypage-profile-meta div span {
	font-size: 12px;
	color: darkgray;
}

.mypage-profile-meta div dl {
	margin: 0px;
}

.mypage-profile-meta div span,
.mypage-profile-meta div dl dt {
	margin: 0px 5px;
}

.mypage-profile--desc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mypage-profile--desc a {
	display: flex;
	width: 100%;
	padding: 8px 20px;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: black;
	font-size: 14px;
}


.ad {
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 90px;
	margin: 10px 0px 20px 0px;
}

.tab-menu ul {
	list-style-type: none;
	display: flex;
	width: 100%;
	height: 48px;
	padding: 0px;
}

.tab-menu ul li {
	display: flex;
	flex: 1;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
	font-weight: 600;
}

.tab-menu>ul li a {
	color: #888888;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.tab-menu ul li.active {
	border-bottom: 2px solid black;
}

.tab-menu>ul li.active a {
	color: black;
}