<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<main class="mz-container">
		<form method="post">
			<div style="color:red;" th:if="${param.error}">
				아이디/비밀번호를 확인하세요.
			</div>
			<div>
				<label>username</label>
				<input type="text" name="username" required autofocus />
			</div>
			<div>
				<label>password</label>
				<input type="password" name="password" required />
			</div>
			<div>
				<input type="submit" value="로그인" />
			</div>
		</form>
		<div>
			<a th:href="@{/member/signup}">회원가입</a>
		</div>
	</main>
</body>

</html>