<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main class="mz-container">
	<form method="post">
		<div>
			<input id="username" name="username" type="text" required autofocus placeholder="Id"/>
			<div id="username-check"></div>
		</div>
		<div>
			<input id="password" name="password" type="password" required placeholder="Password" />
			<div id="password-check"></div>
		</div>
		<div>			
			<input id="email" name="email" type="email" required placeholder="email" />
			<div id="email-check"></div>
		</div>
		<div>
			<input id="nickname" name="nickname" type="text" required placeholder="nickname" />
			<div id="nickname-check"></div>
		</div>
		<div>
			<input name="birth" type="date" required />
			<select name="gender">
				<option value="M">남</option>
				<option value="F">여</option>
			</select>			
		</div>
		<div>
			<input id="btnSubmit" type="submit" value="회원가입" disabled/>			
		</div>
	</form>
</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/member-signup.js" ></script>

</body>
</html>