.footer-container{
	margin-top:5px;
	background-color: white;
	display: grid;
	grid-template-columns: repeat(12,1fr);
}
.footer-logo{
	grid-column: 2/4;
	margin-top: 80px;
	display: flex;
	justify-content: end;
	margin-right: 50px;
}
.footer-info{
	grid-column: 4/8;
	padding-top: 70px;
	padding-bottom: 40px;
}
.footer-infoDiv {
	margin-left: 20px;
}
.footer-info p{
	margin:0;
	font-size: 17px;
	margin-top: 10px;
	color: #666670;
	
}
.footer-mapDiv{
	grid-column: 8/10;
	margin-right: 50px;

}
.footer-map{
	width: 250px;
	height: 250px;
	border-radius: 30px;
	margin-bottom: 20px;
}

.footer-logoImg{
	width: 117px;
	height: 63.21px;
}
.footer-map-1{
	font-weight: bold;
	margin-left: 5px;
	font-size: 18px;
	color:#666670;
	
}
.mapDiv2{
	display: grid;
	grid-template-rows: repeat(2,auto);
}
.ftItem1{
	grid-row: 1/2;
	margin-top:20px;	
	margin-left: 100px;
}
.ftItem2{
	grid-row: 2/3;
	margin-top:15px;
	margin-left: 80px;
	display: flex;
	justify-content: center;
}
