<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8> <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[[${rest.name}]] - MATZIP</title>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=47ecd0d60ae3d050d86b7465e19f19b5"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href="/css/font.css" rel="stylesheet" />  
        <link href="/css/details.css" rel="stylesheet" />   
    </head>
        <body>
            <div class="container-fluid" style="background-color: #F0F0F3;">
                <div class="row" style="height: 10vh; background-color: white; ">
                    <h1></h1>
                </div>
                <div class="row" >
                    <div class="col-md-3"></div>
                    <div class="col-md-6" >
                        <div class="layout_1">
                            <!-- 음식점 이미지 넣는 곳-->
                            <ul class="container">
                               
                            </ul>
                            <!-- 음식점 정보들,,-->
                            <div class="restInfo" th:object="${rest}">
                                <input th:value="*{id}" id="restId" type="hidden">
                                <span class="name" th:text="*{name}"></span>
                                <div style="margin: 5px;" >
                                    <span class="locAndMenu" th:text="*{category.name}"></span>
                                </div>
                                <div style="display: flex; align-items: center; margin: 5px;" class="rating-container">
                                    <div class="rating_star">
                                        <!-- big Star 1 -->
                                    </div>
                                    <span class="evalAvg1" style="padding-left: 10px; padding-bottom: 1px;"></span>
                                    <span class="evalCnt" style="padding-left: 10px; margin-bottom: 1px;"></span>
                                </div>
                            </div>
                            <div class="restInfo" >
                                <hr>
                                <a class="btnMyPick " type="button" id="btnMyPick">
                                    <img src="/img/icon_heartOff.png">
                                    좋아요
                                </a>
                                <a  id="btnEval" type="button" class="btnEval" >
                                    <img src="/img/icon_edit.png">
                                    평가하기
                                </a>
                                <hr>
                            </div>
                            <div class="restInfo" th:object="${rest}">
                                <div class="restInfo_2">
                                    <img src="/img/icon_loc.png" style="margin-left: 5px;">
                                    <span style="margin-bottom: 10px;" th:text="*{address} + (${#strings.isEmpty(rest.detailAddress) ? '' : ' ' + rest.detailAddress})"></span>
                                    <button id="showMap" class="showMap btn rounded" data-bs-toggle="modal" data-bs-target="#mapModal" >지도보기</button>
                                    <!-- mapModal -->
                                    <div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div  class="modal-dialog modal-lg modal-dialog-centered" style=" height: 700px;">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body" id="map">
                                                  </div>
                                              </div>
                                          </div>
                                    </div>
                                    <!-- end div #mapModal-->
                                <div class="restInfo_2">
                                    <img src="/img/icon_call.png">
                                    <span th:text="*{contact}"></span>
                                </div>
                                <div class="restInfo_2">
                                    <img src="/img/icon_alt.png">
                                    <a type="button" id="btnShowModal" data-bs-toggle="modal" data-bs-target="#reportModal"> 폐업신고 · 정보수정제안 </a>
                                </div>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-lg" style="width: auto;" >
                                    <div class="modal-content ">
                                      <div class="modal-header text-center">
                                        <p class="modal-title">폐업 신고·정보수정제안</p>
                                      </div>
                                      <div class="modal-body" style="padding: 30px 50px;">
                                        <textarea class="form-control" id="reportInfo" placeholder="수정이 필요한 내용을 적어주세요.&#13;&#10;예) 맛집이름, 주소, 전화번호 등"></textarea>
                                      </div>
                                      <div class="modal-footer text-center">
                                        <a type="button" id="btnReportInfo">보내기</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- Modal -->
                                </div>
                            </div>
                            <div class="layout_1" style="margin-top: 20px;">
                                <div class="restInfo">
                                    
                                    <p class="title">영업시간</p>
                                    <div id="businessDiv">
                                        <!--월 -->
                                        <span class="day">월요일</span>
                                        <span class="bs_hours" id="MON">
                                        </span>
                                        <hr  class="div_day">
                                        <!--화 -->
                                        <span class="day">화요일</span>
                                        <span class="bs_hours" id="TUE">
                                        </span>
                                        <hr class="div_day">
                                        <!-- 수 -->
                                        <span class="day">수요일</span>
                                        <span class="bs_hours" id="WED">
                                        </span>
                                        <hr class="div_day">
                                        <!-- 목 -->
                                        <span class="day">목요일</span>
                                        <span class="bs_hours" id="THU">
                                        </span>
                                        <hr class="div_day">
                                        
                                        <!-- 금-->
                                        <span class="day">금요일</span>
                                        <span class="bs_hours" id="FRI">
                                        </span>
                                        <hr class="div_day">
                                        <!-- 토-->
                                        <span class="day" >토요일</span>
                                        <span class="bs_hours" id="SAT">
                                        </span>
                                        <hr class="div_day">
                                        <!-- 일 -->
                                        <span class="day">일요일</span>
                                        <span class="bs_hours" id="SUN">
                                        </span>
                                    </div>
                                    
                                    <p class="title">메뉴 정보</p>
                                    <div id="menuDiv">
                                        <!-- 
                                        <span>  
                                        <button class="showMoreMenu" id"showMoreMenu">
                                            더보기
                                            <img src="/img/icon_down.png">
                                        </button>
                                        </span>
                                        -->
                                    </div>
                                    <span id="showMoreMenuSpan"></span>
                                    <br>
                                </div>
                            </div>
                            
                            <!-- 리뷰 리스트 -->
                            <div class="layout_1">
                                <div class="restInfo">
                                    <span class="title total-review" ></span>
                                    <hr class="div_day" style="margin:7px;">
                                    <div style="display: flex; align-items: center; justify-content:space-between;  margin-left:8px; margin-bottom:5px; ">
                                                <div style="display: flex;">
                                                <span class="evalAvg2" style="margin-right:5px;" ><!-- 가게 총 평점 --></span>
                                                <div>
                                                <!-- 리뷰 총 평점 별 (리뷰리스트 시작부분)-->
                                                <div style="display: flex; align-items: center;" class="rating-container2">
                                                    <div class="rating_star2">
                                                        <!-- big Star 2 -->
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="rating_category_avg">
                                                <!-- All Reviews Rating(카테고리 별)   -->
                                            </div>
                                    </div>
                                    <!-- 모든 해시태그 모음 -->
                                    <div class="ht_container"style="padding-top:20px;">
                                    </div> <!-- HT CATEGORY "ht_container" END -->
                                <hr style="">
                                <!-- reviewPost -->    
                                <div id="reviewListContainer">
                                    <!-- 리뷰 목록 생성 부분 -->
                                </div>
                            </div>
                        </div><!-- end 'col=md-6'-->
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
                    <!-- 이미지 크게 볼 수 있는 모달 띄우기 -->
                    <div id="gallryModal" class="modal fade" tabindex="-1">
                        <div class=" modal-dialog  modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                    <div class="imgContainer">
                                        <div class="imgContainer_img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end modal -->
                   
             <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
             <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
             <script src="../js/details.js"></script>
             <script src="../js/details-reviewList.js"></script>
        </body>
</html>
