<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8> <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="shortcut icon" type="image/x-icon" href="../img/tab_icon.png">
	<title>MZ의 트렌드 맛집 검색, MAT.ZIP</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
		rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<link href="/css/layout/navigation.css" rel="stylesheet">
		<link href="/css/font.css" rel="stylesheet" /> 
		<link href="/css/search-list.css" rel="stylesheet">
		<link href="/css/layout/footer.css" rel="stylesheet"/>
	</head>
		<body style="background-color: #F0F0F3;">
		<!--검색 결과 리스트 보여주는 html(전체순, 공감수,리뷰수,좋아요수 대로 정렬하기!!) -->
			<div class="container-fluid"  style="background-color: #F0F0F3; height: auto;">
				<div class="row" style=" background-color: white; "><!-- 네비게이션 바-->
					<div class="navContainer">
								<div class="nav1"><!--로고-->
									 <div th:replace="~{layout/fragment-navigation :: homeLogo}"></div>
								</div>
								<div class="nav2"><!--검색 바-->
									  <span th:replace="~{layout/fragment-navigation :: searchBar}"></span>
								</div>
								<div class="nav3"><!-- 지도-->
									 <div th:replace="~{layout/fragment-navigation :: mapList}"> </div>
								</div>
								<div class="nav4"><!--로그인-->
									 <div th:replace="~{layout/fragment-navigation :: navLogin}"> </div>	
								</div>
						</div>	
					</div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div id="searchList" style=" background-color: white; margin-top: 10px; ">
							<div id="searchKeywordBar" style="display: flex;">
								<span>
									<img src="/img/search-results.png" style="height: 25px; height: 25px; margin-top:3px;">
								</span>
								<span style="margin-left:5px;" >
									<p class="badge" id="searchCategory" th:text="${searchCategory}"></p>
								</span>
								<span id="search-phrases">
									<span style="font-size: 20px; font-weight: bold; color: #FF230A;">"</span>
									<span id="keyword" style="font-size: 20px; font-weight: bold;" th:text="${keyword}"></span>
									<span style="font-size: 20px; font-weight: bold; color: #FF230A;">"</span>
									<span style="font-size: 20px; "> 의 검색결과</span>
									<span style="font-size: 20px; ">(</span>
									<span id="resultNum" style="font-size: 20px; letter-spacing: 0; color: #FF230A; font-weight: bold;" th:text="${list.size()}" ></span>
									<span style="font-size: 20px; letter-spacing: 0;">)곳 </span>
								</span>
							</div>
							<hr style="margin:0; border-color: rgb(214, 214, 222); border-width: 3px;">
							<!-- 검색 결과가 없을 때-->
							<div th:if="${list.isEmpty()}" style="padding-bottom: 150px;">
								<div  style="display: flex; justify-content: center; align-items: center; margin-top:200px; margin-bottom: 350px; background-color: white;">
								    <div>
										<span style="display: flex; justify-content: center;">
											<img src="/img/dish.png" style="width: 90px; height: 90px;">
										</span>
										<p style="margin-left: 10px; margin-top:10px; font-size: 24px; font-weight: bold;">검색 결과가 없습니다.</p>
									</div>
								</div>
							</div>
							<!-- 검색 결과가 있을 때 리스트-->
							<th:block th:each="rest : ${list}">	
							  <th:block th:if="${rest.rvTotal != 0}"><!--리뷰가 null이 아닐 때 -->
								<div id="post">
									<a id="restPost" class="restPost" th:href="@{/rest/details(id=${rest.restId})}" data-id="${rest.restId}">
										<div data-id="${rest.restId}">
											<div class="container" id="container" data-id="${rest.restId}">
												<div  id="review-info-img-${rest.restId}" th:style="${rest.rvImg != null and rest.rvImg != '' ? 'background-image: url(' + rest.rvImg + ')' : ''}" th:class="${rest.rvImg == null or rest.rvImg == '' ? 'nullImg item1' : 'item1'}">
													<img th:if="${rest.rvImg == null or rest.rvImg == ''}"  src="/img/reviewNullImg.png" class="reviewNullImg">
												</div>
												<div class="grid-item2">
													<div class="item2" th:text="${rest.restName}"></div>
													<div class="item3" th:text="${rest.restCategory}">${restaurant.category.name}</div>
													<div class="item4">
															<img style="margin-bottom: 7px; width: 20px;height: 20px;"src="/img/v26_89.png">
															<th:block th:if="${rest.rvTotal == 0}">
																<span id="review-info-grade-${rest.restId}" >0점(0명)</span>
															</th:block>
															<th:block th:unless="${rest.rvTotal == 0}">
															    <span id="review-info-grade-${rest.restId}" th:text="${rest.rvTotalRating + '점(' + rest.rvTotal + '명)'}"></span>
															</th:block>
															<div class="v-line"></div>
															<span class="button likeButton" id="likeButton" data-id="${rest.restId}">
															    <img id="rest-myPick-${restaurant.id}" src="/img/v26_98.png" style="margin-bottom: 4px; width: 22px;height: 22px;">
															</span>
															<th:block th:if="${rest.myPickTotal == 0}">
																<span id="rest-totalMyPick-${rest.restId}" >(0)</span>
															</th:block>
															<th:block th:unless="${rest.myPickTotal == 0}">
															    <span id="rest-totalMyPick-${rest.restId}" th:text="${ '(' + rest.myPickTotal + ')'}"></span>
															</th:block>
															<span id="rest-totalMyPick-${restaurant.id}"><span>
													</div>
													<div class="item5">
														<th:block th:each="tag : ${rest.rvHashtags}">
													        <span id="tag" th:text="'#'+${tag}"></span>
													    </th:block>
													</div>
												</div>
											</div>
											<th:block th:if="${rest.rvTotal != 0}">
												<div class="reviewDiv" th:id="'review-info-'+ ${rest.restId}" >
													<span class="reviewContent" th:text="'&quot;' + (${rest.rvContent.length() > 55 ? rest.rvContent.substring(0, 55) + '...' : rest.rvContent}) + '&quot;'"></span>
												</div>
												<div class="c1" id="review-c1-${rest.restId}">
													<div class="i1">
														<span class="reviewLike" id="review-reviewLike-${rest.restId}" th:text="${rest.rvLikeTotal != null ? rest.rvLikeTotal : '0'}"></span>
														<span class="reviewLike2">명이 추천했습니다.</spanstyle>
													</div>
													<div class="i2">
														<span class="reviewNick" id="review-reviewNick-${rest.restId}" th:text="'by.'+${rest.rvNickname}" >by.닉네임</span>
													</div>
												</div>
											</th:block>
										</div>
									</a>
								</div>
								<hr style="margin:0; border-color: rgb(214, 214, 222); border-width: 3px;">
							  </th:block>
							 </th:block>
							 <th:block th:each="rest : ${list}">
							   <th:block th:unless="${rest.rvTotal != 0}"><!-- 리뷰가 null 일 때-->
							   	<div id="post" class="reviewNullPost">
									<a id="restPost" class="restPost" th:href="@{/rest/details(id=${rest.restId})}" data-id="${rest.restId}">
										<div data-id="${rest.restId}">
											<div class="container" id="container" data-id="${rest.restId}">
												<div  id="review-info-img-${rest.restId}" th:style="${rest.rvImg != null and rest.rvImg != '' ? 'background-image: url(' + rest.rvImg + ')' : ''}" th:class="${rest.rvImg == null or rest.rvImg == '' ? 'nullImg item1' : 'item1'}">
													<img th:if="${rest.rvImg == null or rest.rvImg == ''}"  src="/img/reviewNullImg.png" class="reviewNullImg">
												</div>
												<div class="grid-item2">
													<div class="item2" th:text="${rest.restName}"></div>
													<div class="item3" th:text="${rest.restCategory}">${restaurant.category.name}</div>
													<div class="item4">
															<img style="margin-bottom: 7px; width: 20px;height: 20px;"src="/img/v26_89.png">
															<th:block th:if="${rest.rvTotal == 0}">
																<span id="review-info-grade-${rest.restId}" >0점(0명)</span>
															</th:block>
															<th:block th:unless="${rest.rvTotal == 0}">
															    <span id="review-info-grade-${rest.restId}" th:text="${rest.rvTotalRating + '점(' + rest.rvTotal + '명)'}"></span>
															</th:block>
															<div class="v-line"></div>
															<span class="button likeButton" id="likeButton" data-id="${rest.restId}">
															    <img id="rest-myPick-${restaurant.id}" src="/img/v26_98.png" style="margin-bottom: 4px; width: 22px;height: 22px;">
															</span>
															<th:block th:if="${rest.myPickTotal == 0}">
																<span id="rest-totalMyPick-${rest.restId}" >(0)</span>
															</th:block>
															<th:block th:unless="${rest.myPickTotal == 0}">
															    <span id="rest-totalMyPick-${rest.restId}" th:text="${ '(' + rest.myPickTotal + ')'}"></span>
															</th:block>
															<span id="rest-totalMyPick-${restaurant.id}"><span>
													</div>
													<div class="item5">
														<th:block th:each="tag : ${rest.rvHashtags}">
													        <span id="tag" th:text="'#'+${tag}"></span>
													    </th:block>
													</div>
												</div>
											</div>
											<th:block th:if="${rest.rvTotal != 0}">
												<div class="reviewDiv" th:id="'review-info-'+ ${rest.restId}" >
													<span class="reviewContent" th:text="'&quot;' + (${rest.rvContent.length() > 55 ? rest.rvContent.substring(0, 55) + '...' : rest.rvContent}) + '&quot;'"></span>
												</div>
												<div class="c1" id="review-c1-${rest.restId}">
													<div class="i1">
														<span class="reviewLike" id="review-reviewLike-${rest.restId}" th:text="${rest.rvLikeTotal != null ? rest.rvLikeTotal : '0'}"></span>
														<span class="reviewLike2">명이 추천했습니다.</spanstyle>
													</div>
													<div class="i2">
														<span class="reviewNick" id="review-reviewNick-${rest.restId}" th:text="'by.'+${rest.rvNickname}" >by.닉네임</span>
													</div>
												</div>
											</th:block>
											<th:block th:unless="${rest.rvTotal != 0}">
												<div class="c1" id="review-c1-${rest.restId}" style="margin: 8px;">
													<div class="i1">
														<span class="reviewLike" id="review-reviewLike-${rest.restId}" ></span>
														<span class="reviewLike2"></spanstyle>
													</div>
													<div class="i2">
														<span class="reviewNick" id="review-reviewNick-${rest.restId}"  ></span>
													</div>
												</div>
											</th:block>
										</div>
									</a>
								</div>
								<hr style="margin:0; border-color: rgb(214, 214, 222); border-width: 3px;">
							   </th:block>
							</th:block>	   
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="row">
					<div th:replace="~{layout/fragment-footer :: footer}"></div>
				</div>
			</div>
			 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
			 <script src="../js/layout/navigation.js"></script>
			 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=47ecd0d60ae3d050d86b7465e19f19b5"></script>
			 <script>
					// 이미지 지도에서 마커가 표시될 위치입니다 
					const markerPosition  = new kakao.maps.LatLng(37.4987845817522,127.031704161063); 
					
					// 이미지 지도에 표시할 마커입니다
					// 이미지 지도에 표시할 마커는 Object 형태입니다
					const marker = {
					    position: markerPosition
					};
					
					const staticMapContainer  = document.getElementById('footer-map'), // 이미지 지도를 표시할 div  
					    staticMapOption = { 
					        center: new kakao.maps.LatLng(37.4987845817522, 127.031704161063), // 이미지 지도의 중심좌표
					        level: 3, // 이미지 지도의 확대 레벨
					        marker: marker // 이미지 지도에 표시할 마커 
					    };    
					
					// 이미지 지도를 생성합니다
					const staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
				</script>
		</body>
</html>