<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	 <link rel="shortcut icon" type="image/x-icon" href="../img/tab_icon.png">
	<title>MZ의 트렌드 맛집 검색, MAT.ZIP</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
	<link rel="stylesheet" href="../css/memberinfo-style.css" />
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<!-- 여백 -->
			<div class="col-md-3"></div>

			<div class="col-md-6 main-bg-color">
				<header class="mypage-header margin-side-lr">
					<a th:href="@{/memberinfo/profilemodify}">
					<span><i class="fa-solid fa-angle-left"></i></span>
					<span>비밀번호 수정</span>
					</a>
					<span><!--<a href="#"><i class="fa-sharp fa-solid fa-gear"></i></a>--></span>
				</header>

				<main>

					<section class="profile-update margin-side-lr">
						<form th:action="@{/member/modifypwd}" method="post" id="pwdModifyForm">
							<div>
								<label>현재 비밀번호</label>
								<input type="password" id="oldPwd" />
								<div id="oldPwd-check" class="error-texts"></div>
							</div>
							<div>
								<label>새로운 비밀번호</label>
								<input type="password" name="pwd" id="newPwd" />
								<div id="newPwd-check" class="error-texts"></div>
							</div>
						</form>
						<button id="modifyBtn">변경</button>
					</section>

				</main>

			</div>

			<!-- 여백 -->
			<div class="col-md-3"></div>
		</div>
	</div>

	<!-- java script -->
	<!-- Bootstrap 자바스크립트 모듈 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

	<!-- Axios 자바스크립트 모듈 -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- 아이콘 모듈 -->
	<script src="https://kit.fontawesome.com/0a9be7c545.js" crossorigin="anonymous"></script>

	<!-- 커스텀 모듈 -->
	<!--- 비밀번호 유효성 및 현재 비밀번호 검사 -->
	<script src="../js/member/validation-pwd.js"></script>
</body>

</html>