@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.layout_1{
	margin:10px;
	background-color: white;
	justify-content: center;
	padding: 10px;
}

.restInfo{
	margin-left: 50px;
	margin-right: 50px;
}
/*좋아요 버튼*/
.btnMyPick{
	text-decoration: none;
	border:solid 1px #595C5F;
	border-radius: 10cap;
	color: #666670;
	padding:10px;
	font-size: 18px;
	
}
.btnMyPick:hover{
	border:solid 1px #FF230A;
	border-radius: 10cap;
	color: #000;
	text-decoration: none;
}
.btnMyPick:hover img{
	content: url('/img/icon_heartOn.png');
}
.btnMyPick.liked{
	border:solid 1px #FF230A;
	border-radius: 10cap;
	color: #000;
	text-decoration: none;
}
.btnMyPick.liked img{
	content: url('/img/icon_heartOn.png');
}
/*평가하기 버튼*/
.btnEval{
	text-decoration: none;
	border:solid 1px #595C5F;
	border-radius: 10cap;
	color: #666670;
	padding:10px;
	font-size: 18px;
	float: inline-end;
}

.btnEval:hover {
	border:solid 1px #4281F7;
	border-radius: 10cap;
	color: #000;
	text-decoration: none;
}
.btnEval:hover img{
	content:url('/img/icon_editOn.png');
}
.modal-title{
	font-weight: bold; 
	margin:auto; 
	font-size: 23px;
}
#reportInfo{
	height: 200px;  
	font-size: 21px; 
	padding: 20px; 
}
.modal-footer{
	padding:20px;
}
#btnReportInfo{
	margin:auto; 
	font-size: 20px; 
}
#reportInfo.form-control:focus {
    border-color: #ced4da; /* 테두리 색상 변경 */
    outline: 0; /* 포커스 된 상태의 외곽선 제거 */
    box-shadow: none; /* 포커스 된 상태의 그림자 제거 */
}

#reportInfo.form-control {
    resize: none; /* 텍스트 입력 시 크기 조정 금지 */
    overflow: hidden; /* 내용이 넘칠 때 스크롤 바 숨김 */
}
#reportInfo::placeholder {
    color: #999; /* 원하는 색상으로 변경 */
    opacity: 0.7; /* 원하는 투명도로 변경 */
}

.NullBsHour{
	text-align: center; 
	padding: 10px; 
	border-radius: 20px;
	background-color: rgb(214, 214, 216);
}
.bsHourNullString{
	font-family: 'GangwonEduPowerExtraBoldA';
	vertical-align: bottom; 
	margin-bottom: 35px; 
	margin-left:10px;
	display: inline-block; 
	font-size: 30px; 
	color: #666670; 
}
.restInfo_2{
	font-size: 20px;
	font-weight: normal;
	padding:5px;
}
.restInfo .name{
	font-size: 35px;
	font-weight: bold;
	
}
.restInfo .locAndMenu{
	font-size: 20px;
	font-weight: normal;
	color: #66666E;
}
.restInfo .evalCnt{
	font-size: 18px;
	color: #666670;
}
.restInfo .evalAvg{
	font-size: 19px;
	margin-left: 3px;
	font-weight: bold;
}
.showMap{
	background-color: #FF230A;
	color: white;
	float: inline-end;
	
}
.title{
	font-size: 30px;
	font-weight: bold;
	padding-top: 10px;
}
.day{
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}
.div_day{
	color:rgb(128, 128, 128);
}
.bs_hours{
	font-size: 20px;
	float: inline-end;
}
.showMoreMenu{
	float: inline-end; 
	border: none; 
	font-size: 20px; 
	background-color: transparent; 
	padding: 0; 
	cursor: pointer;
}
.menu-item{
	display: flex;
	margin-bottom: 10px;
	margin-left: 10px;
}

.menu-name{
	font-size: 20px;
}
.menu-price{
	font-size: 20px;
	float: inline-end;
}
.hr-1 {
  flex-grow: 2;
  border: none; 
  border-top: 2px dashed #000; 
  margin: 10px 10px; 
}
.star[data-index="1"],
.star[data-index="2"],
.star[data-index="3"],
.star[data-index="4"],
.star[data-index="5"]{
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
}


.review_name{
	font-size: 17px;
	}
.review_star{
	width:17px; 
	height: 17px;
	margin-bottom: 3px;
}
.ht_POV{
	font-size: 17px;
	font-weight: normal;
	background-color: #FF7F70;
	margin-left: 10px;
}
.review_post{
	border:0.1px solid rgb(225, 225, 225);
	margin-top:10px;
	padding: 20px;
	border-radius: 10px;
}
.ht_container{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}
.item2 {
	grid-column: 2 / 11;
	margin-top:10px;
}
.btnMoreHt{
	border-radius: 20px;
	border-color: #666670;
	font-size: 14px;
}
.profile_img{
	background: url("https://mblogthumb-phinf.pstatic.net/MjAyMjAyMDdfMjEy/MDAxNjQ0MTk0Mzk2MzY3.WAeeVCu2V3vqEz_98aWMOjK2RUKI_yHYbuZxrokf-0Ug.sV3LNWlROCJTkeS14PMu2UBl5zTkwK70aKX8B1w2oKQg.JPEG.41minit/1643900851960.jpg?type=w800");
	background-position: center center;
  	background-size: cover;
  	width: 120px;
  	height: 120px;
  	border-radius: 50%;
}

.miniStar{
	margin-bottom: 7px;
}
.detail_rating{
	margin-left: 10px;
	font-size: 18px;
}
.reviewImgList{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1,200px);
}
.img1{
	grid-column: 1/2;
	grid-row:1/2;
	background: url("https://d12zq4w4guyljn.cloudfront.net/20230904022649618_photo_85aa07219f05.jpg");
	background-position: center center;
  	background-size: cover;
}
.img2{
	grid-column: 2/3;
	grid-row:1/2;
	background: url("https://d12zq4w4guyljn.cloudfront.net/300_300_20210425101017296_photo_bd96390afea4.jpg");
	background-position: center center;
  	background-size: cover;
}
.img3{
	grid-column: 3/4;
	grid-row:1/2;
	background: url("https://d12zq4w4guyljn.cloudfront.net/20230904022649618_photo_85aa07219f05.jpg");
	background-position: center center;
  	background-size: cover;
}
.img4{
	grid-column: 4/5;
	grid-row:1/2;
	background: url("https://d12zq4w4guyljn.cloudfront.net/300_300_20230904022724043_photo_85aa07219f05.jpg");
	background-position: center center;
  	background-size: cover;
}

.review_ht_list{
	margin:5px;
}
/*음식적 대표 이미지 리스트 처리*/
.container {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows:repeat(3,1fr);
	list-style-type: none; 
	justify-content: center;
	 padding: 10px;
	  
	 height: 420px;
}
.box[data-index="0"]{
	grid-column: 1/3;
	grid-row: 1/3;
	background: url("https://d12zq4w4guyljn.cloudfront.net/20230904022649618_photo_85aa07219f05.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}
.box[data-index="1"]{
	background: url("https://d12zq4w4guyljn.cloudfront.net/750_750_20230904021256790_menu_85aa07219f05.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}
.box[data-index="2"]{
	background: url("https://d12zq4w4guyljn.cloudfront.net/300_300_20210425101017296_photo_bd96390afea4.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}
.box[data-index="3"]{
	background: url("https://d12zq4w4guyljn.cloudfront.net/300_300_20230904022724043_photo_85aa07219f05.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}
.box[data-index="4"]{
	background: url("https://d12zq4w4guyljn.cloudfront.net/300_300_20210425101017761_photo_bd96390afea4.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}
.box[data-index="5"]{
	background: url("https://d12zq4w4guyljn.cloudfront.net/20210425101018317_photo_bd96390afea4.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}
.box[data-index="6"]{
	background: url("https://d12zq4w4guyljn.cloudfront.net/20210425101034568_menu_bd96390afea4.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}
.box[data-index="7"]{
	background: url("https://d12zq4w4guyljn.cloudfront.net/20210425101020080_photo_bd96390afea4.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}
.box[data-index="8"]{
	background: url("https://d12zq4w4guyljn.cloudfront.net/20230904022649618_photo_85aa07219f05.jpg");
	background-position: center center;
  	background-size: cover;
  	background-color: #666670;
}

