
body {
  font-size: 14px;
}

.v26_78 {
  width:100%;
  height: 230px;
  background: rgba(255,255,255,1);
  position: relative;
  opacity: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_79 {
  width: 121px;
  height: 112px;
  background: rgba(164,164,164,1);
  position: absolute;
  opacity: 1;
  top: 23px;
  left: 24px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v26_81 {
  width: 200px;
  color: rgba(0,0,0,1);
  top: 27px;
  left: 164px;
  font-weight: Bold;
  position: absolute;
  font-size: 24px;
   position: absolute;
  opacity: 1;
}
.v26_82 {
  width: 100px;
  color: rgba(136,117,127,1);
  top: 63px;
  left: 169px;
  font-weight: Medium;
  position: absolute;
  font-size: 20px;
  opacity: 1;
}
.v26_83 {
  width: 100px;
  color: rgba(158,158,158,1);
  top: 79px;
  left: 164px;
  font-weight: Medium;
  position: absolute;
  font-size: 17px;
  opacity: 1;
}
.v26_89 {
  width: 21px;
  height: 21px;
  background: url("../img/v26_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  opacity: 1;
  top: 100px;
  left: 166px;
  overflow: hidden;
}
.v26_90 {
  width: 90px;
  color: rgba(0,0,0,1);
  top: 100px;
  left: 191px;
  font-weight: Medium;
  position: absolute;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v26_98 {
  width: 23px;
  height: 23px;
  background: url("../img/v26_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  opacity: 1;
  top: 100px;
  left: 295px;
  overflow: hidden;
}
.v26_99 {
  width: 70px;
  color: rgba(0,0,0,1);
  top: 100px;
  left: 319px;
  font-weight: Medium;
  position: absolute;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v26_101 {
  width: 700px;
  color: rgba(106,106,113,1);
  top: 157px;
  left: 24px;
  font-weight: Regular;
  position: absolute;
  font-size: 20px;
  opacity: 1;
}
.v26_102 {
  width: 200px;
  color: url("../img/v26_102.png");
  top: 197px;
  left: 25px;
  font-weight: Medium;
  position: absolute;
  font-size: 17px;
  opacity: 1;
}
.v26_103 {
  width: 80px;
  color: rgba(0,0,0,1);
  top: 197px;
  left: 220px;
  font-weight: Regular;
  position: absolute;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.col-md-3::-webkit-scrollbar{
				display: none;
			}
#restPost:hover{
	background-color: azure;
}
#restPost:hover .v26_81{
	color: #FF230A;
}
.v26_78:hover {
  background-color: #F5F5F5; /* 원하는 배경색으로 변경 */
  /* 추가적인 스타일 변경을 원한다면 여기에 추가하세요 */
}
@media (max-width: 768px) {
  .v26_81 {
    font-size: 18px; /* 미디어 쿼리에 따라 폰트 크기 변경 */
  }
  
  .v26_82 {
    font-size: 16px; /* 미디어 쿼리에 따라 폰트 크기 변경 */
  }
  
  /* ... 다른 요소들에 대해서도 필요한 조치를 취할 수 있습니다 ... */
}
